﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This the Nuke-O-Matic&trade;, a state of the art platform for waging thermonuclear war.</p>
<p>Nuke-O-Matic&trade;. For when you absolutely must kill everyone.</p>
